*{
    margin: 0%;
    padding: 0%;
}
body {
    font-family: Arial, sans-serif;
    background: rgb(248, 248, 191);
 
    /* background:linear-gradient(rgba(128, 0, 128, 0.301),rgba(245, 8, 245, 0.301)); */
    
}



header {
    background: black;
    color: #fff;
    padding: 20px;
    display: flex;
    
    justify-content: space-between; 
    margin: -8px;
    height: 10%;
}

.header-left h1 {
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Adjust font size as needed */
}
.header-left p {
    font-size: 20px;

}

.header-right ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.header-right ul li {
    display: inline-block; /* Display list items inline */
    margin-left: 20px; /* Add some spacing between list items */
    
}



.header-right ul li a {
    font-weight: bold;
    color: #fdfcfc; /* Link text color */
    right: 10px;
    
}



#about{
    
        width: 100%;
        min-height: 120vh;
        
    
    
}
.shahood {
  color: #000; /* Black color */

}

.sultan {
  color: rgb(255, 187, 0); /* Blue color */
}
.aboutme  h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100px;
    /* background-color: rgba(0, 0, 0, 0.4);
     */

}

.left-section{
    background: transparent;
    margin-top: 10px;
    margin-left: -5%;
    width: 70%;
    height: 100%;
    padding: 20px 90px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    display: flex;
    left: 0%;

}
.left-section h1 {
    
    margin: 60px 350px -60px 80px;
    
    font-size: 30px;
    font-weight: 900;
    
    font-family: 'Times New Roman', Times, serif;
    /* padding: 20px 80px; */
}
.left-section h6{
    font-size: 80%; 
    line-height:2 ;
    position: relative;
    top: 20%;
    font-weight: 900;
    
    margin: 60px 100px 2%;
    font-family: Arial, Helvetica, sans-serif;
}
.left-section p {
  
    position: relative;
    font-size:1.5vw ;
    line-height:1 ;
    font-weight:100 ;
    top: 10%;
    left: 20px;
    font-family: montserrat, sans-serif;
    width: 100%;
   
}
.right-section {
    margin-top: -23%;
    margin-left: 70%;
    width: 100%;
    padding: 0 ;
    background-color: transparent;
    
}

.right-section img {
    width: 20%;
    height: 20%;
    box-shadow: 20px 20px black;
    
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    
}

h2 {
    display: absolute;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}
 h1{
    display: absolute;
    position: relative;
    text-align: center;
 }


/*  */

.card-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    flex-wrap: wrap; /* Allows the cards to wrap to the next line */
}
.card {
    overflow: visible;
    width: 290px;
    height: 415px;
    margin: 20px;
  }
  
  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #00000000;
    border-radius: 5px;
  }
  
  .front, .back {
    background-color: #b4191948;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
 
  
  .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .back-content img{
    display: flex;
    position: absolute;
    width:20px;
    top: 20px;
  }
  
  .card:hover .content {
    transform: rotateY(180deg);
  }
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  
  .front {
    transform: rotateY(180deg);
    color: white;
  }
  
  .front .front-content {
    position: absolute;
    width: 90%;
    height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .front-content .badge {
    background-color: #91141455;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
  }
  
  .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
  
  }
  
  .title {
    font-size: 12px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .title p {
    width: 50%;
  }
  
  .card-footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 8px;
  }
  
  .front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
  
 



.projects {
    background-color: transparent;
    padding: 20px;
    margin-bottom: 20px;
}
.project h3{
  font-size: 30px;
}

.projects .project {
    margin-bottom: 20px;
}

.projects .project img {
    max-width: 25%;
    height: auto;
    margin-top: 10px;
}
.project p {
  padding: 20px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: large;
}

.resume {
   
    width: 100%;
    height: 100%;
    --s: 150px; /* control the size */
    --c1: #ff847c;
    --c2: #e84a5f;
    --c3: #fecea8;
    --c4: #99b898;
  
    background: conic-gradient(
        from 45deg at 75% 75%,
        var(--c3) 90deg,
        var(--c1) 0 180deg,
        #0000 0
      ),
      conic-gradient(from -45deg at 25% 25%, var(--c3) 90deg, #0000 0),
      conic-gradient(from -45deg at 50% 100%, #0000 180deg, var(--c3) 0),
      conic-gradient(
        from -45deg,
        var(--c1) 90deg,
        var(--c2) 0 225deg,
        var(--c4) 0
      );
    background-size: var(--s) var(--s);
  
  
    /* background-color:transparent; */
    margin-bottom: 50px;
    margin-top: 10px;
}

.resume p {
    padding: 20px;
    text-align: center;
}

.resume a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff000093;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 44%;
    margin-bottom: 10%;
    margin-top: 10px;
    
}

.resume a:hover {
    background: rgba(255, 0, 140, 0.39);
}

.contact {
    margin-bottom: 100px;
}

.contact ul {
    list-style: none;
    padding: 10px;
}

.contact li {
    text-align: center;
    margin-bottom: 10px;
}
.socail-media {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.socail-media li a {
  width: 50px;
  height: 50px;
  background-color: #ffa0a0;
  display: flex;
  overflow: hidden;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 9;
  border: 1px solid #ffc0c0;
}

.socail-media li a svg {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
  object-fit: contain;
  filter: invert(100%) sepia(0%) saturate(7455%) hue-rotate(57deg) brightness(108%) contrast(105%);
}

.socail-media li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(20 0, 100% 0, 0 0, 0 100%);
  clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  background-color: #fff;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
}

.socail-media li a:hover::after {
  animation: sideClip 0.5s linear;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  opacity: 1;
}

.socail-media li a:hover svg {
  animation: fadeInLeft 0.3s linear both;
  filter: invert(0%) sepia(85%) saturate(2286%) hue-rotate(54deg) brightness(92%) contrast(84%);


}

@keyframes sideClip {
  0% {
    clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }

  50% {
    clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


footer {
    
    
  background: black;
  color: #fff;
  padding: 20px;
  display: flex;
  text-align: center;
   
  margin: -8px;
  height: 10%;
}
footer p{

    position: relative;
    left :40%;
    text-align: center;
    margin-top: 15px;
}
